* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

.centerObject {
    margin-right: auto;
    margin-left: auto;
}

.editSubTituloFormLogin {
    background-color: #00558B;
    width: 130px;
    height: 35px;
    color: white;
    text-align: center;
    padding-top: 6px;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

select {
    height: 30px;
    width: 180px;
    margin-top: 5px;
    font-size: 18px;
}

option {
    font-size: 16px;
}

input, .inputTime  {
    height: 30px;
    width: 160px;
    margin-top: 5px;
    font-size: 18px;
}

.inputTime {
    width: 85px;
}

.inputCadastroCliente {
    height: 30px;
    width: 500px;
    background-color: #00558B;
    color: white;
    font-size: 18px;
    border: none;
    margin-top: 5px;
    margin-bottom: 15px;
}

#principal {
    background-color: forestgreen;
    min-height: 500px;
    height: auto;
    overflow: hidden;
    width: 100%;
}

header {
    background-color: white;
    width: 100%;
    height: 150px;
}

#containerHeader {
    width: 1800px;
    height: 100%;
    padding-top: 20px;
}

.logoFastParking {
    background-color: aqua;
    width: 250px;
    height: 110px;
    float: left;
    margin-left: 50px;
}

.logo {
    width: 250px;
    height: 110px;
}

.login {
    float: right;
    margin-right: 50px;
    padding-top: 12px;
    cursor: pointer;
}


#conteudo {
    background-color: #DCC500;
    min-height: 600px;
    height: auto;
    width: 100%;
    padding: 20px;
}

#containerConteudo {
    min-height: 600px;
    height: auto;
    width: 1800px;
    padding: 10px;
}

#calcularPreco {
    background-color: #00558B;
    min-height: 250px;
    height: auto;
    width: 700px;
    margin-left: 200px;
    margin-top: 170px;
    float: left;
    box-shadow: 2px 5px 5px #4a4a4a;
    color: white;
    padding: 30px;
}

#local {
    height: 200px;
    width: 200px;
    float: left;
}

#editCheckInOut {
    height: 200px;
    width: 400px;
    float: right;
}

#checkIn, #checkOut {
    float: left;
    width: 400px;
    height: 100px;
}

#horarioCheckIn, #horarioCheckOut {
    float: right;
    margin-top: -60px;
    margin-right: 110px;
}

#botaoCadastro, #botaoCalcularPreco {
    background-color: #DCC500;
    border: none;
    border-radius: 3px;
    margin-left: 480px;
    width: 160px;
    color: #00558B;
    font-size: 15px;
    cursor: pointer;
}

#botaoCadastro {
    background-color: #00558B;
    color: white;
    width: 130px;
    margin-left: 390px;
}

#botaoLogin {
    cursor: pointer;
    border: none;
    border-radius: 3px;
    margin-top: 30px;
    margin-left: 130px;
    background-color: #dedcdc;
}

#cadastroCliente {
    background-color: #FFFFFF;
    min-height: 400px;
    height: auto;
    width: 580px;
    margin-right: 200px;
    margin-top: 100px;
    float: right;
    box-shadow: 2px 5px 6px #4a4a4a;
    color: #00558B;
    padding: 30px;
}

#placa, #modelo, #definirCheckIn, #definirCheckOut, .definirHorarioCheckIn,.definirHorarioCheckOut {
    height: 30px;
    width: 160px;
    background-color: #00558B;
    color: white;
    font-size: 18px;
    border: none;
    margin-top: 5px;
    margin-bottom: 15px;
}

#placaCarro {
    float: left;
    width: 210px;
}

#modeloCarro {
    float: right;
    width: 210px;
    margin-right: 100px;
}

#cadastroCheckIn, #cadastroCheckOut {
    float: left;
    height: 80px;
}

#cadastroHorarioCheckIn, #cadastroHorarioCheckOut {
    float: right;
    height: 100px;
    margin-left: 210px;
    margin-top: -74px;
}
.definirHorarioCheckIn,.definirHorarioCheckOut {
    width: 85px;
}

footer {
    background-color: white;
    height: 100px;
    padding: 20px;
    color: #A6A2A2;
}

footer p {
    text-align: center;
}

/*  ESTILIZAÇÃO DA MODAL  */

#login{
    width: 610px;
    height: 300px;
    border: solid 1px #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: #00558B;
}

.visualizarTitulo{
    width: 200px;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-left: 200px;
    float: left;
}

#fecharModal{
    margin-left: 560px;
    margin-top: 5px;
    cursor: pointer;
}

#modalContainer{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    z-index: 999;
    display: none;
}

#modal{
    width: 610px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

#loginModal{
    margin-top: 15px;
    background-color: white;
    width: 600px;
    height: 230px;
    padding-top: 10px;
}

.editInputCadastroUsuario {
    height: 35px;
    width: 300px;
    border: 3px solid #00558B;
}

#formLogin {
    height: 145px;
    width: 450px;
    padding: 10px;
    margin-top: 20px;
}

#loginUsuario {
    margin-bottom: 30px;
}

#usuario, #senha {
    float: left;
    margin-top: 5px;
    
}